@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import "tailwindcss";

.font-teko { font-family: 'Teko', sans-serif; }
.font-inco { font-family: 'Inconsolata', sans-serif; }
.bg_varels_orange {
  background-color: rgb(224, 146, 36);
;
}
.bg_varels_pink {
  background-color: #F2F2F2;
}

